<div class="container col-12">
    <div class="row justify-content-center">
        <div class="campo-buscar col-4 mb-3">
            Buscar
            <app-input-texto [formControl]="formBuscarDespesa.controls['idDespesa']" placeholder="Digite o código"
                classeIcone="fa fa-search"></app-input-texto>
            <app-botao texto="Buscar" [liberado]="formBuscarDespesa.valid" (eventoclick)="buscarDespesa()">
            </app-botao>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 mt-5">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 5%;" class="text-center">Código</th>
                        <th style="width: 20%;" class="text-center">Descrição</th>
                        <th style="width: 15%;" class="text-center">Tipo</th>
                        <th style="width: 15%;" class="text-center">Data</th>
                        <th style="width: 20%;" class="text-center">Valor</th>
                        <th style="width: 25%;" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody [class.d-none]="!mostrarTabela()">
                    <tr *ngFor="let despesa of listaDespesas">
                        <td class="text-center">{{ despesa.idDespesa }}</td>
                        <td class="text-center">{{ despesa.descricao }}</td>
                        <td class="text-center">{{ mostarDescricaoTipo(despesa.idTipo) }}</td>
                        <td class="text-center">{{ despesa.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{ despesa.valor | currency:'BRL'}}</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-sm" role="button" title="Editar"
                                (click)="abrirModalAtualizarDespesa(modalEdicao, despesa)">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" role="button" title="Excluir"
                                (click)="excluirDespesa(despesa.idDespesa)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody [class.d-none]="mostrarTabela()">
                    <tr>
                        <th colspan="6" class="text-center">Não foram encontrados registros!</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal de atualização de despesa-->
<ng-template #modalEdicao>
    <div class="modal-header">
        <h4 class="modal-title ml-3">Atualizar Despesa</h4>
        <a (click)="fecharModalAtualizarDespesa()">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <app-input-texto [formControl]="formModalEdicaoDespesa.controls['descricao']"
                    msgErro="Campo obrigatório." placeholder="Descrição" classeIcone="fa-pencil">
                </app-input-texto>
            </div>
            <div class="col-6">
                <app-input-texto [formControl]="formModalEdicaoDespesa.controls['dataCadastro']" tipo="date"
                    msgErro="Somente números." placeholder="" classeIcone="fa-calendar">
                </app-input-texto>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <app-input-selecao [formControl]="formModalEdicaoDespesa.controls['idTipo']" placeholder="Tipo"
                    [listaOpcao]="listaDeTipos" classeIcone="fa-arrow-right">
                </app-input-selecao>
            </div>
            <div class="col-6">
                <app-input-texto [formControl]="formModalEdicaoDespesa.controls['valor']" msgErro="Somente números."
                    placeholder="Valor" classeIcone="fa-dollar">
                </app-input-texto>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-12">
            <div class="row justify-content-end">
                <div class="col-3">
                    <app-botao texto="Atualizar" classeComplementar="btn-primary"
                        [liberado]="formModalEdicaoDespesa.valid" (eventoclick)="atualizarDespesa()">
                    </app-botao>
                </div>
            </div>
        </div>
    </div>

</ng-template>