<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class=" menu bg-dark">
    <div class="item-menu">
        <i class="fa fa-plus-square"></i>
        <a routerLink="cadastro-despesa">Cadastro</a>
    </div>
    
    <div class="item-menu">
        <i class="fa fa-search"></i>
        <a routerLink="">Consulta</a>
    </div>
</div>

<ng4-loading-spinner> </ng4-loading-spinner>
<router-outlet></router-outlet>

