<div class="container col-12">
    <div class="row justify-content-center ">
        <div class="col-6">
            <div class="card mt-5">
                <div class="card-header">Cadastro de despesa</div>
                <div class="card-body">
                    <div class="row justify-content-around mt-3">
                        <div class="col-6">
                            <app-input-texto [formControl]="formCadastroDespesa.controls['descricao']"
                                msgErro="Campo obrigatório." placeholder="Descrição" classeIcone="fa-pencil">
                            </app-input-texto>
                        </div>
                        <div class="col-6">
                            <app-input-selecao [formControl]="formCadastroDespesa.controls['idTipo']" placeholder="Tipo"
                                [listaOpcao]="listaDeTipos" classeIcone="fa-arrow-right">
                            </app-input-selecao>
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col-6">
                            <app-input-texto [formControl]="formCadastroDespesa.controls['dataCadastro']" tipo="date"
                                msgErro="Somente números." placeholder="Valor" classeIcone="fa-calendar">
                            </app-input-texto>
                        </div>
                        <div class="col-6">
                            <app-input-texto [formControl]="formCadastroDespesa.controls['valor']"
                                msgErro="Somente números." placeholder="Valor" classeIcone="fa-dollar" mascara="">
                            </app-input-texto>
                        </div>
                    </div>
                    <div class="row mt-5 justify-content-center">
                        <div class="col-4">
                            <app-botao texto="Cadastrar" [liberado]="formCadastroDespesa.valid"
                                (eventoclick)="cadastrarDespesa()"></app-botao>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>